.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #003580;
}

.lContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  background-color: rgb(195, 210, 255);
  padding: 50px;
  padding-top: 20px;
  border-radius: 10px;
}

.logo {
  text-align: center;
  margin: auto;
}

.lInput {
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  outline: none;
}

.lButton {
  border: none;
  padding: 10px 20px;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}

.lButton:disabled {
  background-color: #0071c28c;
  cursor: not-allowed;
}
